@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kufam', cursive;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Kufam', cursive;
    text-shadow: 1px 1px 2px black;
}
body{
    width: 100%;
    height: 100%;
}

header{
    background: linear-gradient(#6CFBB7, #22C1C3);
    /* margin: 0 auto; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;

}
h1{
    color: white;
    margin-top: 15%;
}
.logoblock{
    display: flex;
}
.logo{
    height: 80px;
    width: 60px;
    margin-top: 10px;
    margin-left: 5px;
}
nav{
    width: 30%;
    display: flex;
    justify-content: flex-end;

}
ul{
    width: 100%;
    height: 20%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-right: 20%;
    margin-top: 1%;
}
li{
    list-style: none;
    width: 100%;
    margin-top: 7%;

}
a{
    text-decoration: none;
    color: white;
}
.textbar{
    background-color: #22C1C3;
    height: 35px;
    border: thick double white;
    box-shadow: 0px 5px 10px rgba(139, 138, 138, 0.74);
}
section{
    margin: auto;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(139, 138, 138, 0.74);
}
.block1{
    background: linear-gradient(#59A4ED, #BC8196);
    display: flex;

}
.imgjapon{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 10%;
}
.imgthai{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 10%;
    margin-right: 10%;
}
.imginde{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: 10%;
}
.block2{
    background: linear-gradient(#4689C2, #60E1C2);
    display: flex;
    flex-direction: row-reverse;
}
.block3{
    background: linear-gradient(#5C90B5,#DD841C);
    display: flex;
}
h2{
    padding-bottom: 5%;
}
.thai{
    text-align: center;
}
.ind{
    text-align: right;
    margin-right: 5%;
}
.texte{
    color: white;
    margin: 10% 5% 10% 5%;
}

footer{
    background: linear-gradient(#28C6C2, #6DFCB7);
    width: 100%;
    margin-top: 2%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 2px rgba(139, 138, 138, 0.74);
}
.textfooter{
    color: white;
}
.icofooter{
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    h1{
        margin-top: 12%;
        margin-left: 7%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .block2{
        display: flex;
        flex-direction: column-reverse;
    }
    .imgjapon{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 95px;
    }
    .imgthai{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 95px;
        margin-bottom: 30px;
    }
    .imginde{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 95px;
        
    }
    footer{
        background: linear-gradient(#28C6C2, #6DFCB7);
        width: 100%;
        margin-top: 2%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .textfooter{
        margin-left: 5%;   
    }
    .icofooter{
        margin-left: 5%;
    }
    
}